NEXT_PUBLIC_APPWRITE_DATABASE_ID=""
NEXT_PUBLIC_APPWRITE_ENDPOINT=""
NEXT_PUBLIC_APPWRITE_PROJECT_ID=""
NEXT_PUBLIC_APPWRITE_RECIPES_COLLECTION_ID=""
NEXT_PUBLIC_APPWRITE_USER_COLLECTION_ID=""
APPWRITE_API_KEY=""
REMOVE_TEMP_FILES=true
